<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358638649976-s0e5tjsejh4grrtsvhpoup1dh9vglo0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358638649976-s0e5tjsejh4grrtsvhpoup1dh9vglo0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDanFjpONInhAs6VCpeo4B0RcgBHEPMNOk</string>
	<key>GCM_SENDER_ID</key>
	<string>358638649976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.mybooks</string>
	<key>PROJECT_ID</key>
	<string>mybooks-6dd1c</string>
	<key>STORAGE_BUCKET</key>
	<string>mybooks-6dd1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358638649976:ios:95fc8b32b94a8601</string>
	<key>DATABASE_URL</key>
	<string>https://mybooks-6dd1c.firebaseio.com</string>
</dict>
</plist>